body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-size: 300% 300%;
  animation: gradientFlow 12s ease infinite;
  color: white;
  font-family: 'Anurati', sans-serif;
  background: #030602;
}

/* Importa a fonte */
@font-face {
  font-family: 'Anurati';
  src: url('./app/assets/Anurati-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
